#screen {
  aspect-ratio: 16/9;
  position: relative;
  overflow: hidden;
  container-type: inline-size;
  margin: 0 6vw;
}

@media (min-width: 700px) {
  #screen {
    aspect-ratio: 16/9;
    position: relative;
    overflow: hidden;
    container-type: inline-size;
    margin: 0 10vw;
  }
}

#game {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#start {
  width: 100%;
  height: 100%;
  position: absolute;
  aspect-ratio: 16/9;
  top: 0;
  left: 0;
  background-image: url(assets/svg/Bgr_startside.svg);
  background-size: cover;
  z-index: 1000;
}

#start_knap {
  position: absolute;
  width: 16%;
  height: 10%;
  top: 61%;
  left: 73%;
  aspect-ratio: 1/2;
  cursor: pointer;
  background-image: url(assets/svg/Play_button.svg);
  background-size: cover;
}

#rules_knap {
  position: absolute;
  width: 16%;
  height: 10%;
  top: 74%;
  left: 73%;
  aspect-ratio: 1/2;
  cursor: pointer;
  background-image: url(assets/svg/Rules_button.svg);
  background-size: cover;
}
#rules_map {
  position: absolute;
  width: 39%;
  height: 41%;
  top: 25%;
  left: 25%;
  aspect-ratio: 1/2;
  cursor: pointer;
  background-image: url(assets/svg/map.svg);
  background-size: cover;
}

#musicbox {
  position: absolute;
  top: 19%;
  left: 27%;
  width: 40%; /* 또는 width: 150px; 와 같이 상대적인 크기로 설정할 수 있습니다. */
  height: auto;
  aspect-ratio: 2/1.5;
  cursor: pointer;
  background-size: cover;
  background-image: url(assets/svg/tape.svg);
}

#sound_wave {
  position: absolute;
  top: 4%;
  left: 38%;
  width: 22%; /* 또는 width: 91vw; 와 같이 상대적인 크기로 설정할 수 있습니다. */
  height: auto;
  aspect-ratio: 1/2;
  cursor: pointer;
  background-size: cover;
}

#play_button {
  position: absolute;
  width: 26%;
  height: 13%;
  top: 38%;
  left: 22%;
  aspect-ratio: 1/2;
  cursor: pointer;
  background-size: cover;
}
#stop_button {
  position: absolute;
  width: 26%;
  height: 13%;
  top: 38%;
  left: 22%;
  aspect-ratio: 1/2;
  cursor: pointer;
  background-size: cover;
}
#music_bar {
  position: absolute;
  width: 32%;
  height: 28%;
  top: 30%;
  left: 32%;
  aspect-ratio: 1/2;
  cursor: pointer;
  background-size: cover;
}
#menu_kanp {
  position: absolute;
  width: 16%;
  height: 10%;
  top: 87%;
  left: 73%;
  aspect-ratio: 1/2;
  cursor: pointer;
  background-image: url(assets/svg/Menu_button.svg);
  background-size: cover;
}

#game_over {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(assets/svg/Bgr_slutside_gameover.svg);
  background-size: cover;
  z-index: 1000;
}

#genstart_knap {
  position: absolute;
  width: 24%;
  height: 10%;
  top: 52%;
  left: 34%;
  aspect-ratio: 1/2;
  cursor: pointer;
  background-image: url(assets/svg/Paly_again_button.svg);
  background-size: cover;
}

#home_knap {
  position: absolute;
  width: 15%;
  height: 10%;
  top: 40%;
  left: 39%;
  aspect-ratio: 1/2;
  cursor: pointer;
  background-size: cover;
  background-image: url(assets/svg/Home_button.svg);
}
#quit_knap {
  position: absolute;
  width: 15%;
  height: 10%;
  top: 64%;
  left: 39%;
  aspect-ratio: 1/2;
  cursor: pointer;
  background-size: cover;
}
#game_over_points {
  position: absolute;
  width: 24%;
  height: 10%;
  top: 6%;
  left: 6%;
  aspect-ratio: 1/2;
  font-family: caramel;
  font-size: 4vw;
  color: rgb(234, 11, 11);
}

#level_complete {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(assets/svg/Bgr_slutside_win.svg);
  background-size: cover;
  z-index: 1000;
}

#genstart_knap_2 {
  position: absolute;
  width: 25%;
  height: 10%;
  top: 85%;
  left: 36%;
  aspect-ratio: 1/2;
  cursor: pointer;
  background-image: url(assets/svg/Paly_again_button.svg);
  background-size: cover;
}

#home_knap_2 {
  position: absolute;
  width: 16%;
  height: 10%;
  top: 85%;
  left: 12%;
  aspect-ratio: 1/2;
  cursor: pointer;
  background-size: cover;
  background-image: url(assets/svg/Home_button.svg);
}
#quit_knap_2 {
  position: absolute;
  width: 16%;
  height: 10%;
  top: 85%;
  left: 69%;
  aspect-ratio: 1/2;
  cursor: pointer;
  background-size: cover;
}

#game_background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-image: url(assets/svg/spil_baggrund.svg);
}
#game_mellemground {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-image: url(assets/svg/mellemground.svg);
}
#game_foreground {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-image: url(assets/svg/spil_foreground.svg);
}
#game_elements {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

#game_ui {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 30%;
  left: 0;
  pointer-events: none;
}

/*spilelementer gode og onde*/
#god1_container {
  position: absolute;
  width: 7%;
  aspect-ratio: 4/5;
  top: -50%;
}
#god1_sprite {
  width: 100%;
  height: 100%;
  background-image: url(assets/svg/cottoncandy_1.svg);
  background-size: 100%;
}
#god2_container {
  position: absolute;
  width: 7%;
  aspect-ratio: 4/5;
  top: -50%;
}

#god2_sprite {
  width: 100%;
  height: 100%;
  background-image: url(assets/svg/cottoncandy_2.svg);
  background-size: 100%;
}
#god3_container {
  position: absolute;
  width: 7%;
  aspect-ratio: 4/5;
  top: -50%;
}
#god3_sprite {
  width: 100%;
  height: 100%;
  background-image: url(assets/svg/cottoncandy_3.svg);
  background-size: 100%;
}
#god4_container {
  position: absolute;
  width: 7%;
  aspect-ratio: 4/5;
  top: -50%;
}
#god4_sprite {
  width: 100%;
  height: 100%;
  background-image: url(assets/svg/cottoncandy_4.svg);
  background-size: 100%;
}

#ond1_container {
  position: absolute;
  width: 7%;
  aspect-ratio: 4/6;
  top: -50%;
}
#ond1_sprite {
  width: 100%;
  height: 76%;
  background-image: url(assets/svg/bomber.svg);
  background-size: 100%;
}
#ond2_container {
  position: absolute;
  width: 7%;
  aspect-ratio: 4/6;
  top: -50%;
}
#ond2_sprite {
  width: 100%;
  height: 76%;
  background-image: url(assets/svg/bomber.svg);
  background-size: 100%;
}

#lyn1_container {
  position: absolute;
  width: 5%;
  aspect-ratio: 4/9;
  top: -66%;
}
#lyn1_sprite {
  width: 100%;
  height: 100%;
  background-image: url(assets/svg/lyn.svg);
  background-size: 100%;
}
#lyn2_container {
  position: absolute;
  width: 5%;
  aspect-ratio: 4/9;
  top: -66%;
}
#lyn2_sprite {
  width: 100%;
  height: 100%;
  background-image: url(assets/svg/lyn.svg);
  background-size: 100%;
}

/*UI-elementer*/
#timer_container {
  position: relative;
  aspect-ratio: 1/1;
  height: 9%;
  width: 100%;
  top: 9%;
  left: -36.5%;
}

#timer_container > * {
  position: absolute;
  height: 100%;
  width: 100%;
}

#score_board {
  width: 11%;
  height: 12%;
  aspect-ratio: 2/1;
  position: absolute;
  top: -1%;
  left: 7.6%;
  background-image: url(assets/svg/point.svg);
  background-size: cover;
  padding-top: 10px;
  font-size: 4.5vw;
  font-family: caramel;
  text-align: center;
}

.liv {
  width: 5%;
  top: -9%;
  aspect-ratio: 3/2.5;
  position: absolute;
  background-image: url(assets/svg/liv.svg);
  background-size: cover;
}

#liv_1 {
  left: 4%;
}
#liv_2 {
  left: 11%;
}
#liv_3 {
  left: 18%;
}

/*start og slut skærm*/

.hide {
  display: none;
}
@font-face {
  font-family: caramel;
  src: url("caramel_sweet/caramel_sweets-webfont.woff2") format("woff2");
  font-weight: bold;
}
