* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img,
video {
  width: 100%;
  height: auto;
  display: block;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  background-color: #f5f4ef;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Jeongnimsaji-R";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/Jeongnimsaji-R.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

:root {
  --primary-color: #1562e7;
  --text-color: rgb(83, 72, 72);
  --emphasis-color: #be1f1f;
}

header,
footer {
  width: 100%;
  height: auto;
  background-size: cover;
}
header {
  border-bottom: 2px solid rgb(10, 100, 247);
}
#container {
  margin: 0 auto;
  width: 100%;
  height: auto;
  position: relative;
}
.navbar {
  /*display:flex*/
  display: none;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-family: GmarketSansMedium;
}
.navbar a {
  color: var(--primary-color);
  font-size: 3.5vw;
  justify-content: space-between;
  text-decoration: none;
  display: flex;
  padding-bottom: 20px;
}
.navbar a:hover {
  color: var(--emphasis-color);
}
.navbar.show {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  padding: 10px 0;
}
.LOGO {
  width: 12vw;
  align-items: center;
}

.burger {
  display: block;
  color: var(--primary-color);
  font-size: 20px;
  padding-left: 20px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  color: var(--primary-color);
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(236, 241, 249);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: var(--primary-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: rgb(191, 214, 251);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.guide,
.proces,
.semester {
  position: absolute;
  text-align: left;
  font-family: "Jeongnimsaji-R";
  color: var(--text-color);
}
.guide,
.proces {
  font-size: 3vw;
  line-height: 4vw;
}
.guide {
  transform: translate(19vw, -145vw);
}
.proces {
  transform: translate(71vw, -32vw);
}

.semester {
  transform: translate(49vw, -72vw);
  font-size: 4vw;
}
.explore a {
  position: absolute;
  top: 59%;
  left: 48%;
  font-size: 24px;
  font-weight: bold;
  font-family: "Arapey", sans-serif;
  border: 1px solid #f9f7f4;
  border-radius: 50px;
  padding: 1.3vw;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

.explore a {
  color: var(--emphasis-color);
}
.explore a:hover {
  color: var(--primary-color);
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  border-top: 1px solid var(--primary-color);
  align-items: center;
}
.footer_logo {
  width: 12vw;
}

.mail,
.social_media,
.info {
  color: var(--primary-color);
  font-size: 2vw;
  font-weight: bold;
  font-family: "GmarketSansMedium";
  padding: 20px 0;
}

/*************************************************************************************************index*/
.title {
  text-align: center;
  padding-top: 7vw;
}
.welcome,
.folio {
  font-size: 3vw;
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: var(--primary-color);
  font-family: "Roboto", sans-serif;
}
.welcome::before,
.folio::after {
  content: "";
  display: inline-block;
  width: 23vw;
  border-bottom: 2px solid var(--primary-color);
}
.welcome::before {
  margin-right: 10px;
}
.folio::after {
  margin-left: 10px;
}
.folio {
  justify-content: flex-end;
}
.port {
  font-family: "Anton", sans-serif;
  font-weight: bold;
  font-size: 10vw;
  color: var(--primary-color);
  letter-spacing: 1vw;
}
.port::after {
  content: "FOLIO";
  left: 0;
  white-space: nowrap; /* 줄 바꿈 방지 */
  color: transparent;
  -webkit-text-stroke: 0.2vw var(--primary-color);
}
.timeline {
  margin: 10vw 6vw;
  border-top: 2px solid var(--primary-color);
}
.timeline.bar {
  display: flex;
  flex-direction: row;
}

.active {
  padding: 0vw 6.6vw;
  font-size: 4vw;
  line-height: 2;
  color: var(--primary-color);
}
.active:hover {
  color: var(--emphasis-color);
  transform: scale(2);
}
.active::before {
  content: "";
  display: block;
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 50%;
  background-color: var(--emphasis-color);
  transform: translate(1vw, -1vw);
}
.active::after {
  content: "";
  width: 0;
}

.projekt {
  display: flex;
  flex-direction: column;
  object-fit: contain;
  width: 100%;
  height: 100%;
  gap: 2vw;
  padding: 0 4vw 4vw 4vw;
}
.nummer {
  font-size: 12vw;
  color: var(--emphasis-color);
  font-family: "Jeongnimsaji-R";
}
.nummer:hover {
  color: var(--primary-color);
}
.projekt a {
  padding: 0;
}
.tema {
  font-size: 5vw;
  color: var(--text-color);
  font-family: "anton";
  letter-spacing: 0.1vw;
  padding: 0 0 1vw 2vw;
  font-weight: bold;
}

.beskrivelse2,
.beskrivelse3,
.beskrivelse4,
.beskrivelse5,
.beskrivelse6 {
  font-size: 16px;
  font-family: "Arapey", serif;
  padding: 0 0 2vw 2vw;
  color: var(--text-color);
}

.tema_pic_2,
.tema_pic_3,
.tema_pic_4,
.tema_pic_5,
.tema_pic_6 {
  padding-bottom: 2vw;
}

.om_mig,
.kontakt_overskrift {
  font-family: "Anton", sans-serif;
  font-size: 14vw;
  color: var(--primary-color);
  letter-spacing: 1vw;
  padding: 4vw 4vw 0 4vw;
}
.kontakt_overskrift a {
  color: var(--primary-color);
}
.whoami,
.kontakt_question {
  font-size: 5vw;
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: var(--primary-color);
  font-family: "Roboto", sans-serif;
  justify-content: right;
}
.kontakt_question {
  padding-bottom: 5vw;
}
.whoami::after,
.kontakt_question::after {
  content: "";
  display: inline-block;
  width: 36vw;
  height: 1px;
  border-bottom: 2px solid var(--primary-color);
  margin-left: 10px;
}

.overskrift {
  padding-bottom: 15vw;
}
.profil_pic img {
  border-radius: 50%;
  width: 50vw;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}
.introduce {
  padding: 6vw;
  font-family: "Arapey", serif;
  line-height: 20px;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: 16px;
}
.read a {
  font-weight: bold;
  color: var(--primary-color);
  cursor: pointer;
}
.read a:hover {
  transform: scale(2);
  color: var(--emphasis-color);
}

.profil {
  display: flex;
  flex-direction: column;
}

.tre_keywords {
  font-family: anton;
  color: var(--text-color);
  text-align: center;
  font-size: 6vw;
}

.keywords {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2vw;
  padding: 4vw 10vw;
}
.creative,
.learner,
.challenging {
  color: var(--emphasis-color);
  font-size: 4vw;
  font-family: "Jeongnimsaji-R";
  font-weight: bold;
}
.overline {
  padding-top: 2vw;
}
.kontakt_oplysninger {
  padding: 0 6vw;
}
.contact_me,
.ask,
.opkaldt,
.e_mail,
.instagram,
.facebook,
.website {
  text-align: left;
  color: var(--text-color);
  font-family: "roboto";
}
.contact_me {
  font-size: 25px;
  font-weight: bold;
}
.ask {
  font-size: 15px;
  padding: 1vw 0 8vw 0;
}
.opkaldt,
.e_mail,
.instagram,
.facebook,
.website {
  font-size: 15px;
  padding-bottom: 2vw;
}

.instagram:hover,
.facebook:hover {
  color: var(--primary-color);
}

.col-25,
.col-75,
input[type="submit"] {
  width: 100%;
  margin-top: 0;
}
.form {
  width: 100%;
  padding: 4vw 10vw 8vw 8vw;
}
.form-felt {
  display: flex;
  flex-direction: column;
  font-family: "roboto";
  font-size: 4vw;
  color: var(--primary-color);
  padding-bottom: 2vw;
}
#fornavn,
#efternavn,
#email {
  height: 8vw;
  border-style: none;
  font-size: 4vw;
  font-family: "roboto";
}
.styled-textarea {
  width: 100%;
  height: 20vw;
  border-style: none;
  font-size: 4vw;
  font-family: "roboto";
}
.button {
  padding: 1vw;
  border-radius: 1vw;
  color: #e4e9f0;
  font-size: 4vw;
  font-family: "roboto";
  background-color: var(--primary-color);
  border-style: none;
}
#form_sendt {
  margin: 0 auto;
  text-align: center;
  padding-top: 10%;
  font-size: 4vw;
  font-weight: bold;
}
/*********************************************************************************************forsiden*/
.profil_billedet,
.creative_key,
.learner_key,
.challenging_key {
  padding: 0 6vw;
}
.beskrivelse_om_mig,
.cv {
  display: flex;
  flex-direction: column;
  grid-template-rows: auto auto;
  gap: 2vw;
  margin-bottom: 4vw;
}
.text2,
.text3 {
  padding: 0 6vw;
}
.text1,
.text2,
.text3,
.profil_,
.kompentencer,
.job,
.Erfaring,
.Sprog,
.hobby {
  font-family: "Arapey", serif;
  line-height: 20px;
  font-size: 16px;
  color: var(--text-color);
  padding-top: 10px;
}

.profil_keywords {
  font-family: anton;
  font-size: 25px;
  text-align: center;
  padding: 4vw;
  color: var(--emphasis-color);
}
.portrait img {
  width: 140px;
  margin: 0 auto;
  border-radius: 50%;
}
.profil_,
.home_og_tlf {
  font-size: 16px;
  font-family: "Arapey", serif;
  color: var(--text-color);
  text-align: center;
  line-height: 25px;
}
.home_og_tlf {
  padding-bottom: 4vw;
}
.name_overskrift,
.mindmap_overskrift {
  font-family: "Anton", sans-serif;
  color: var(--primary-color);
  font-size: 14vw;
}
.name_overskrift {
  transform: translateY(-9vw);
  padding-left: 4vw;
  padding-top: 8vw;
}
.mindmap_overskrift {
  padding: 4vw 0 0 4vw;
}
.mindmap_overskrift::after {
  content: "";
  display: inline-block;
  width: 85vw;
  transform: translate(46vw, -19vw);
  border-bottom: 2px solid var(--primary-color);
}
.mindmap {
  width: 100%;
  height: auto;
  margin: 0 auto;
  transform: translateY(-16vw);
  padding: 0 6vw;
}
.arbejde_Sydkorea {
  padding-bottom: 10px;
}
.cv_og_profil {
  font-size: 4vw;
  align-items: center;
  color: var(--primary-color);
  font-family: "Roboto", sans-serif;
  justify-content: right;
  transform: translate(49vw, -10vw);
}
.cv_og_profil::after {
  content: "";
  display: inline-block;
  width: 68vw;
  border-bottom: 2px solid var(--primary-color);
}
.om_mig_cv {
  font-size: 7vw;
  letter-spacing: 0vw;
  padding: 8vw 0 8vw 4vw;
}
.overskrift_kompentencer,
.overskrift_uddannelse,
.overskrift_erfaring,
.overskrift_job,
.overskrift_sprog,
.overskrift_hobby {
  font-size: 25px;
  font-family: anton;
  color: var(--primary-color);
  border-top: 2px solid var(--primary-color);
}
.overskrift_kompentencer,
.overskrift_erfaring,
.overskrift_job,
.overskrift_sprog,
.overskrift_hobby {
  padding: 3vw 0;
}

.job,
.Erfaring,
.kompentencer,
.Sprog,
.hobby,
.uddannelse {
  padding: 4vw 8vw 0 8vw;
}
.uddannelse2 {
  font-family: "Arapey", serif;
  line-height: 20px;
  font-size: 16px;
  color: var(--text-color);
}
.skole,
.erfaring_udlande {
  padding: 1vw 0vw 1vw 4vw;
}
.adobe {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  gap: 1vw;
  padding: 1vw 0 1vw 0;
}
.adobe img {
  width: 32px;
  height: auto;
}
.flags,
.icons {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  padding-top: 1vw;
}
.icons {
  width: 22px;
  transform: translateY(-14px);
}
.flags {
  width: 32px;
}
.flag img {
  margin: 0 auto;
  width: 40px;
  height: auto;
}

/*********************************************************************************************************Om mig_*/

.map {
  width: 100%;
  height: 33vw;
  background-image: url(img/map.webp);
  background-size: cover;
}

.kontakt_ {
  padding: 0;
}

/*********************************************************************************************************kontakt*/

.order {
  font-size: 40px;
}
.proces_overskrift,
.skills_overskrift,
.tema_overskrift,
.videoprodukt_overskrift,
.produkt_overskrift,
.studieproven {
  color: var(--emphasis-color);
  font-family: "anton", serif;
  text-align: left;
  font-size: 24px;
}
.videoprodukt_overskrift {
  padding-top: 2vw;
}
.proces_overskrift {
  padding: 2vw 0 1vw 0;
}

.tema_overskrift {
  padding-top: 2vw;
}
.mitwebsite_eksamen {
  padding: 2vw 0 10vw 4vw;
}
.mitwebsite_eksamen,
.mitwebsite_resultat,
.spilhjemmesidet,
.se_videositet {
  font-family: "anton", serif;
  text-align: left;
  font-size: 24px;
}
.spilhjemmesidet {
  padding: 2vw 0 10vw 4vw;
}
.mitwebsite_eksamen a,
.mitwebsite_resultat a,
.spilhjemmesidet a {
  color: var(--emphasis-color);
}
.mitwebsite_eksamen a:hover,
.mitwebsite_resultat a:hover,
.spilhjemmesidet a:hover {
  color: var(--primary-color);
}

.work,
.temaer,
.purpose,
.produkt_resultat,
.spil {
  width: 100%;
  height: auto;
  margin: 0 auto;
  color: rgb(83, 72, 72);
  font-family: "Arapey", serif;
  text-align: left;
  font-size: 16px;
  padding: 0 6vw;
}

.work ul {
  padding-left: 4vw;
}
.temaer ul {
  padding: 2vw 0 0 4vw;
}
.learning li,
.kode li {
  margin-bottom: 2vw;
}
.proces_work {
  display: flex;
  flex-direction: column;
  gap: 4vw;
}
.kode {
  transform: translateY(-4vw);
}
.studieprøv {
  font-family: "Arapey", serif;
  text-align: left;
  font-size: 16px;
  padding-top: 2vw;
}
.produkt_resultat {
  padding: 0vw;
}
.website_beskrive {
  padding-top: 4vw;
}
/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  background-color: rgb(222, 235, 238);
  margin-bottom: 2vw;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 100%;
}

/* Add Animation - Zoom in the Modal */
.modal-content {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.grid_5 {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  width: 100%;
  height: 100%;
  padding: 1vw 0;
  object-fit: cover;
  overflow: hidden;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////tema2*************/

.research_ide,
.solution,
.design_udvikling {
  display: grid;
  gap: 4vw;
}

.crazy_8s,
.udkast,
.styletile,
.desktop_proto,
.test,
.moodboard_tekst {
  padding-bottom: 4vw;
}
.wireframe li {
  padding-top: 2vw;
}
.desktop_wire {
  padding-bottom: 4vw;
}
.wireframe,
.sitemap,
.kodesite2,
.dokumentation {
  padding: 4vw 0 4vw 0;
}

.wireframe {
  display: flex;
  flex-direction: column;
}

.presentation_ppt,
.presentation {
  order: 1;
}

.sitemap1,
.dokumentation,
.presentation,
.mobil_proto,
.styleboard,
.test {
  padding-top: 4vw;
}
.research_metoder div {
  padding-bottom: 12px;
}
.work {
  padding-left: 4vw;
}
.wireframe_tekst2 {
  padding-left: 0;
}
.dokumentation a,
.presentation a,
.javakode a,
.resultat_redesign a {
  display: block;
  font-size: 16px;
  color: var(--emphasis-color);
  text-align: left;
  font-weight: normal;
  font-family: "Anton", sans-serif;
}
.dokumentation a:hover,
.presentation a:hover,
.resultat_redesign a {
  color: var(--primary-color);
}

.mitwebsite_resultat {
  padding: 2vw 0 10vw 0vw;
}
.presentation div {
  display: inline-block;
  margin-right: 5px;
}
.pdf {
  margin-left: 0px;
}

/************************************************************************************************Tema03*/
.moodboard_spil,
.styletile_spil,
.valg_stil,
.aktivitetsdiagram,
.state_machine_diagram,
.illustrator2 {
  padding-bottom: 4vw;
}
.produkt_overskrift {
  padding: 1vw 0 1vw 6vw;
}

.skitser_spil {
  padding-bottom: 4vw;
  padding-top: 4vw;
}
.papir_prototype {
  padding-bottom: 4vw;
  padding-top: 0vw;
}

.ideudvikling_moodboard {
  padding: 1.5vw 0;
}
.illustrator,
.javakode,
.skitser,
.spillet_final {
  padding: 4vw 0 4vw 0;
}

.beskrivelse_purpose {
  padding-top: 0;
}
.smd {
  padding-top: 2vw;
}

.endelig_spil {
  padding: 0vw 6vw;
  color: var(--text-color);
  font-family: "Arapey", serif;
  text-align: left;
  font-size: 16px;
}
.spilhjemmesidet {
  padding: 4vw 6vw;
}
/************************************************************************''tema4*/
.carhartt,
.trello,
.styletile_moodboard,
.sitemap_nuværende,
.wireframe_nuværende,
.brugertest4,
.storyboard_video {
  color: var(--primary-color);
}
.carhartt:hover,
.trello:hover,
.styletile_moodboard:hover,
.sitemap_nuværende:hover,
.wireframe_nuværende:hover,
.brugertest4:hover,
.storyboard_video:hover,
.youtube_video:hover {
  color: var(--emphasis-color);
}
.se_videositet {
  padding: 2vw 0;
}
.se_videositet,
.youtube_video {
  display: grid;
  font-family: "anton", serif;
  text-align: left;
  color: var(--emphasis-color);
}
.youtube_video {
  padding: 2vw 0;
}
.se_videositet:hover {
  color: var(--primary-color);
}
.format,
.udstyr,
.editing,
.videosite1,
.teamwork,
.research_nuværende,
.preapretion,
.optagelse,
.ideudvikling_video,
.github,
.resultat_redesign {
  padding-bottom: 4vw;
}
.video_pleasant {
  padding: 2vw 6vw;
}
.format div,
.teamwork div {
  padding-bottom: 14px;
}

.youtube_video {
  font-size: 16px;
}
.resultat_redesign {
  padding-top: 4vw;
}
iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}

/******************************************************************tema05****************************/
.presentation_portfolio {
  padding-bottom: 40px;
}

/*********************************************************************tema06*********************/

@media screen and (min-width: 700px) {
  .explore a {
    position: absolute;
    left: 48%;
    top: 45vw;
    font-size: 2.5vw;
    padding: 1.3vw;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px 0 50px;
  }
  .navbar a {
    font-size: 1vw;
  }
  .burger {
    display: none;
  }
  #container {
    margin: 10% auto;
    width: 50%;
    height: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  .LOGO {
    width: 7vw;
    align-items: center;
  }
  .guide,
  .proces,
  .semester {
    position: absolute;
    text-align: left;
    font-family: "Jeongnimsaji-R";
    color: var(--text-color);
    line-height: 2vw;
  }
  .guide,
  .proces {
    font-size: 1vw;
  }
  .guide {
    transform: translate(10vw, -71vw);
  }
  .proces {
    transform: translate(39vw, -15vw);
  }
  .semester {
    transform: translate(24vw, -36vw);
    font-size: 2vw;
  }

  footer {
    border-top: 2px solid var(--primary-color);
    width: 100%;
    padding: 0 6vw;
  }
  .footer_logo {
    width: 7vw;
    padding-top: 1vw;
  }
  .mail,
  .social_media,
  .info {
    color: var(--primary-color);
    font-size: 1vw;
    font-weight: bold;
    font-family: "GmarketSansMedium";
    padding: 20px 0 20px 0;
  }

  /*/ /////////////////////////////////////////////////////////////////////////////////////////////index////*/
  .welcome,
  .folio {
    font-size: 1.5vw;
  }
  .port {
    font-size: 7vw;
  }
  .welcome::before {
    width: 31vw;
  }
  .folio::after {
    width: 31vw;
  }
  .timeline {
    margin: 10vw 8vw 8vw 8vw;
    border-top: 2px solid var(--primary-color);
  }
  .timeline .bar {
    display: flex;
    flex-direction: row;
  }
  .active {
    padding: 1vw 7.3vw;
    font-size: 2vw;
    line-height: 2;
    color: #1562e7;
  }
  .active .a {
    padding: 2vw;
  }
  .active::before {
    transform: translate(0vw, -1.8vw);
  }
  .active::after {
    content: "";
    width: 0;
  }
  .active:hover {
    color: var(--emphasis-color);
    transform: scale(2);
  }
  .projekt {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    object-fit: contain;
    width: 100%;
    height: 100%;
    gap: 2vw;
    padding: 0 8vw 0 8vw;
  }

  .nummer {
    font-size: 6vw;
  }
  .tema {
    font-size: 2vw;
    padding: 0 0 0 1vw;
  }

  .beskrivelse2,
  .beskrivelse3,
  .beskrivelse4,
  .beskrivelse5,
  .beskrivelse6 {
    font-size: 1.5vw;
    font-family: "Arapey", serif;
    padding-left: 1vw;
  }
  .beskrivelse2,
  .beskrivelse3,
  .beskrivelse4 {
    height: 4.5vw;
    padding-bottom: 0;
  }

  .beskrivelse5,
  .beskrivelse6 {
    height: 6vw;
  }
  .overskrift {
    padding: 4vw 0;
  }
  .om_mig,
  .kontakt_overskrift,
  .name {
    font-size: 7vw;
    letter-spacing: 0vw;
    padding-left: 4vw;
  }
  .whoami,
  .kontakt_question {
    font-size: 2vw;
  }
  .whoami::after {
    width: 68vw;
  }
  .kontakt_question::after {
    width: 64vw;
  }
  .profil {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 8vw 0 8vw;
  }
  .profil_pic {
    grid-column: 2/3;
  }
  .profil_pic img {
    width: 20vw;
    height: auto;
  }
  .introduce {
    grid-column: 3/5;
    padding: 7vw 3vw;
    font-size: 1.5vw;
    line-height: 3vw;
  }
  .tre_keywords {
    padding-top: 4vw;
    font-size: 4vw;
  }
  .keywords {
    display: flex;
    flex-direction: row;
    padding: 2vw 8vw 0 8vw;
  }
  .keywords img {
    border-bottom: 2px solid var(--emphasis-color);
    padding-bottom: 2vw;
  }
  .creative,
  .learner,
  .challenging {
    text-decoration: none;
    color: var(--emphasis-color);
    font-size: 2vw;
    font-family: "Jeongnimsaji-R";
  }
  .kontakt {
    padding-top: 7vw;
  }
  .kontakt_form {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto auto;
  }
  .kontakt_oplysninger {
    padding: 4vw 0vw 0 10vw;
  }
  .contact_me,
  .ask,
  .opkaldt,
  .e_mail,
  .instagram,
  .facebook,
  .website {
    color: var(--text-color);
    font-family: "roboto";
  }
  .contact_me {
    font-size: 3vw;
    font-weight: bold;
  }
  .ask {
    font-size: 1.5vw;
    padding-bottom: 5vw;
  }
  .opkaldt,
  .e_mail,
  .instagram,
  .facebook,
  .website {
    font-size: 1.2vw;
    padding-bottom: 1vw;
  }

  .form {
    width: 100%;
    padding: 4vw 10vw 8vw 4vw;
    margin: 0 auto;
  }

  .form-felt {
    display: flex;
    flex-direction: column;
    font-family: "roboto";
    font-size: 1.2vw;
    color: var(--primary-color);
    padding-bottom: 1.5vw;
  }
  #fornavn,
  #efternavn,
  #email {
    height: 2.5vw;
    border-style: none;
    font-size: 2vw;
  }
  .styled-textarea {
    width: 100%;
    height: 12vw;
    border-style: none;
    font-size: 1.5vw;
  }
  .button {
    padding: 1vw;
    border-radius: 1vw;
    color: #e4e9f0;
    font-size: 1.2vw;
    font-family: "roboto";
    background-color: var(--primary-color);
    border-style: none;
  }
  /*************************************************************************************************forsiden*/
  .beskrivelse_om_mig {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto;
    margin-bottom: 25vw;
    gap: 1vw;
  }
  .cv {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto auto;
    gap: 6vw;
  }
  .profil_billedet,
  .creative_key,
  .learner_key,
  .challenging_key {
    padding: 0;
  }
  .cv_om_mig {
    transform: translateY(4vw);
  }
  .profil_billedet {
    grid-column: 2/4;
    grid-row: 1/2;
    object-fit: fill;
    padding: 0;
  }
  .creative_key,
  .text1,
  .text3,
  .text2,
  .profil_,
  .kompentencer,
  .job,
  .Erfaring,
  .Sprog,
  .hobby,
  .uddannelse2 {
    font-size: 1.5vw;
    font-family: "Arapey", serif;
    line-height: 1.8vw;
    color: var(--text-color);
  }

  .creative_key,
  .text1 {
    grid-column: 4/5;
    grid-row: 1/2;
  }
  .creative_key img {
    grid-column: 4/6;
    grid-row: 2/3;
  }
  .text1,
  .profil_keywords {
    text-align: left;
    padding-top: 1vw;
  }
  .text2 {
    grid-column: 4/5;
    grid-row: 2/3;
    padding: 0;
  }
  .text3 {
    grid-column: 2/4;
    grid-row: 2/3;
    text-align: justify;
    transform: translateY(15.5vw);
    padding: 0;
  }
  .profil_keywords {
    font-family: anton;
    font-size: 2vw;
    line-height: 2.5vw;
    padding: 1.5vw 0 0 0;
    color: var(--emphasis-color);
  }

  .learner_key {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .challenging_key {
    grid-column: 3/4;
    grid-row: 2/3;
  }

  .portrait img {
    width: 14vw;
    margin: 0 auto;
    border-radius: 50%;
  }

  .portrait {
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 0 auto;
  }
  .profil_,
  .home_og_tlf {
    font-size: 1.5vw;
    font-family: "Arapey", serif;
    line-height: 2.5vw;
    color: var(--text-color);
    text-align: left;
    line-height: 2.5vw;
  }
  .profil_ {
    grid-column: 2/3;
    grid-row: 1/2;
    transform: translate(0, 21vw);
  }
  .cv_og_profil {
    font-size: 2vw;
    align-items: center;
    color: var(--primary-color);
    font-family: "Roboto", sans-serif;
    justify-content: right;
    transform: translate(32vw, -10vw);
  }
  .cv_og_profil::after {
    content: "";
    display: inline-block;
    border-bottom: 2px solid var(--primary-color);
  }
  .name_overskrift {
    font-family: "Anton", sans-serif;
    color: var(--primary-color);
    transform: translateY(-9vw);
    font-size: 7vw;
    padding-left: 4vw;
    padding-top: 0;
  }
  .om_mig_cv {
    font-size: 7vw;
    letter-spacing: 0vw;
    padding: 8vw 0 8vw 4vw;
  }
  .overskrift_uddannelse,
  .overskrift_kompentencer,
  .overskrift_job,
  .overskrift_erfaring,
  .overskrift_sprog,
  .overskrift_hobby {
    font-size: 2vw;
    font-family: anton;
    color: var(--primary-color);
    padding-bottom: 1vw;
    padding-top: 2vw;
  }
  .skole,
  .erfaring_udlande {
    padding-left: 1vw;
  }
  .uddannelse,
  .kompentencer,
  .Erfaring,
  .job,
  .Sprog,
  .hobby {
    line-height: 1.8vw;
  }
  .uddannelse {
    grid-column: 3/6;
    grid-row: 1/2;
    padding: 0 6vw 0 0;
  }
  .uddannelse2 {
    padding-top: 0;
  }
  .kompentencer {
    grid-column: 3/6;
    grid-row: 3/4;
    transform: translateY(-7vw);
    padding: 0 6vw 4vw 0;
  }
  .adobe {
    display: flex;
    flex-flow: wrap;
    padding: 1vw 0 5vw 0;
  }
  .adobe img {
    width: 3vw;
    height: auto;
  }
  .job {
    grid-column: 3/6;
    grid-row: 2/3;
    transform: translateY(-4vw);
    padding: 0 6vw 0 0;
  }
  .Erfaring {
    grid-column: 5/8;
    grid-row: 1/2;
    padding: 0 0 0 6vw;
  }
  .Sprog {
    grid-column: 5/8;
    grid-row: 2/3;
    transform: translateY(-4vw);
    padding: 0 0 0 6vw;
  }
  .hobby {
    grid-column: 5/8;
    grid-row: 3/4;
    transform: translateY(-7vw);
    padding: 0 0 4vw 6vw;
  }
  .flags,
  .icons {
    display: flex;
    flex-direction: row;
    padding-top: 1vw;
  }
  .flag img {
    width: 4vw;
    height: auto;
  }
  .flags {
    width: 3vw;
    gap: 1vw;
    transform: translateY(-14px);
  }
  .icons {
    width: 2vw;
    gap: 2vw;
  }
  .mindmap_overskrift {
    font-family: "Anton", sans-serif;
    color: var(--primary-color);
    transform: translateY(-17vw);
    font-size: 7vw;
    padding-left: 4vw;
  }
  .mindmap_overskrift::after {
    content: "";
    display: inline-block;
    border-bottom: 2px solid var(--primary-color);
    transform: translate(24vw, -9.5vw);
  }
  .mindmap {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0 4vw;
    transform: translateY(-20vw);
  }

  /*****************************************************************************************************om mig*/
  .modal-content {
    width: 100%;
    padding: 4vw;
  }
  .grid_2,
  .proces_work,
  .grid_5 {
    display: grid;
    gap: 2vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    padding: 0vw 10vw;
  }
  .temaer,
  .purpose {
    width: 100%;
    height: auto;
    margin: 0px auto;
    padding: 0;
  }
  .work,
  .produkt_resultat,
  .spil,
  .temaer,
  .purpose,
  .temaer ul,
  .beskrivelse_purpose {
    margin: 0 auto;
    color: var(--text-color);
    font-family: "Arapey", serif;
    text-align: left;
    font-size: 1.5vw;
    line-height: 2vw;
    padding: 0;
  }

  .work ul {
    padding: 0 2vw;
  }
  .temaer {
    grid-column: 1/2;
  }
  .temaer ul,
  .researchmetod {
    padding: 2vw 0 0 2vw;
  }
  #myImg {
    height: auto;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    background-color: rgb(222, 235, 238);
    margin: 0 auto;
  }
  .work img,
  .temaer img,
  .purpose img {
    box-shadow: 6px 5px 5px rgb(119, 74, 64);
  }

  .beskrivelse_purpose {
    padding: 2vw 0 0 1vw;
  }

  .learning li,
  .kode li,
  .research_metoder li {
    margin-bottom: 1.5vw;
  }
  .wireframe li {
    margin: 0;
  }
  .kode {
    transform: translateY(0);
  }
  .index_02,
  .mincomputer02 {
    width: 9vw;
    height: 27vw;
  }
  .operativ02 {
    width: 4.5vw;
  }
  .galleri02 {
    width: 8.2vw;
  }
  .komponent {
    width: 87%;
  }
  .komponent02 {
    width: 4vw;
    transform: translateX(-4vw);
  }
  .order {
    font-size: 5vw;
  }
  .proces_overskrift,
  .skills_overskrift,
  .produkt_overskrift,
  .video_produkt,
  .tema_overskrift,
  .videoprodukt_overskrift,
  .studieproven {
    font-size: 3vw;
  }
  .proces_overskrift {
    padding: 3vw 10vw;
  }
  .skills_overskrift {
    padding: 3vw 10vw;
  }

  .tema_overskrift {
    padding: 3vw 0;
  }
  .mitwebsite_eksamen,
  .mitwebsite_resultat,
  .spilhjemmesidet {
    padding-left: 10vw;
    font-size: 4vw;
  }

  .grid_5 img {
    box-shadow: none;
  }
  .galleri2 {
    grid-column: 2/3;
    grid-row: 5/6;
  }
  .mitwebsite_eksamen a {
    grid-column: 2/3;
    grid-row: 6/7;
  }
  .studieprøv {
    place-items: center;
    padding: 0;
    grid-column: 1/2;
    grid-row: 6/7;
    text-align: left;
    font-size: 1.5vw;
  }
  /********************************************************************tema02*******************************/
  .research_ide,
  .solution,
  .styletile,
  .website_03,
  .sitemap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 2vw;
    padding: 0 10vw;
  }
  .desktop_wire {
    padding-bottom: 0vw;
  }
  .design_udvikling {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    gap: 2vw;
    padding: 0 10vw 1vw 10vw;
  }
  .research_metoder li {
    padding: 0 2vw;
  }
  .storyboard {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .crazy_8s {
    grid-column: 3/5;
    grid-row: 2/3;
    padding-bottom: 3vw;
  }
  .solution {
    padding: 0 10vw 0vw 10vw;
  }
  .styleboard {
    padding-top: 0vw;
  }
  .wireframe {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 2vw;
    padding: 1vw 10vw 0 10vw;
  }
  .wireframe li {
    padding-top: 0;
  }
  .mobil_wire {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .desktop_wire {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .wireframe_tekst1 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .wireframe_tekst2 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .wireframe_tekst1 li,
  .wireframe_tekst2 li {
    padding: 0;
  }
  .mobil_proto {
    grid-column: 1/2;
    grid-row: 3/4;
    padding: 0;
  }
  .desktop_proto {
    grid-column: 2/3;
    grid-row: 3/4;
    padding: 0;
  }
  .test {
    padding-top: 2vw;
  }

  .desktop_proto,
  .test {
    padding-bottom: 0vw;
  }

  .sitemap {
    padding: 0vw;
  }
  .sitemap1,
  .kodesite2,
  .dokumentation,
  .presentation,
  .mobil_proto,
  .test,
  .website_beskrive {
    padding-top: 0;
  }
  .sitemap {
    grid-column: 1/2;
    grid-row: 6/7;
  }
  .kodesite {
    grid-column: 2/3;
    grid-row: 6/7;
  }
  .sitemap1 {
    grid-column: 1/2;
    grid-row: 7/8;
  }
  .kodesite2 {
    grid-column: 2/3;
    grid-row: 7/8;
  }
  .lighthouse {
    grid-column: 1/2;
    grid-row: 8/9;
  }
  .presentation_ppt {
    grid-column: 2/3;
    grid-row: 8/9;
  }
  .dokumentation {
    grid-column: 1/2;
    grid-row: 9/10;
  }
  .presentation {
    grid-column: 2/3;
    grid-row: 9/10;
  }

  .dokumentation a,
  .presentation a,
  .youtube_video,
  .javakode a,
  .resultat_redesign a {
    display: flex;
    flex-direction: column;
    font-size: 1.5vw;
    color: var(--emphasis-color);
    text-align: left;
    font-weight: normal;
    justify-self: flex-end;
  }

  .dokumentation a:hover,
  .presentation a:hover,
  .javakode a:hover,
  .resultat_redesign a:hover {
    color: var(--primary-color);
  }
  .research_metoder {
    grid-column: 1/2;
    padding-bottom: 2vw;
  }
  .research_metoder div {
    padding-bottom: 10px;
  }
  .moodboard {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .skills_overskrift {
    padding: 6vw 10vw 3vw 10vw;
  }
  .studieproven {
    padding: 3vw 10vw 3vw 10vw;
  }
  .presentation div {
    display: inline-block;
    margin-right: 10px;
  }
  .pdf {
    margin-left: 8px;
  }
  /*****************************************************************tema03*/
  .spil,
  .endelig_spil,
  .ideudvikling {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 2vw;
    padding: 0vw 10vw;
    color: var(--text-color);
    font-family: "Arapey", serif;
    text-align: left;
    font-size: 1.5vw;
    line-height: 2vw;
  }
  .state_machine_diagram,
  .smd,
  .ideudvikling_moodboard,
  .javakode {
    padding-bottom: 0vw;
    padding-top: 0vw;
  }
  .spilhjemmesidet {
    padding: 0vw 10vw 4vw 10vw;
  }
  .produkt_overskrift {
    padding: 6vw 10vw 3vw 10vw;
  }
  .skitser_spil,
  .papir_prototype,
  .skitser,
  .spillet_final,
  .illustrator2 {
    padding-bottom: 0vw;
    padding-top: 0vw;
  }
  .moodboard_spil,
  .styletile_spil,
  .valg_stil,
  .aktivitetsdiagram {
    padding-bottom: 0vw;
  }
  .illustrator {
    padding: 0;
  }
  /****************************************************************tema4*/

  .videosite,
  .virksomhedssite,
  .redesign,
  .redesign_site {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 2vw;
  }
  .videosite {
    padding: 0 10vw;
  }
  .virksomhedssite {
    padding: 2vw 10vw;
  }

  .redesign_site {
    padding: 0 10vw;
  }
  .redesign_web {
    grid-column: 1/2;
  }
  .resultat_redesign {
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 0;
  }
  .video_pleasant {
    padding: 0 10vw 4vw 10vw;
  }

  .produkt_resultat_video {
    padding-top: 2vw;
  }
  .format,
  .udstyr,
  .editing,
  .videosite1,
  .teamwork,
  .research_nuværende,
  .preapretion,
  .optagelse,
  .ideudvikling_video,
  .github,
  .resultat_redesign {
    padding-bottom: 0;
  }
  .videoprodukt_overskrift {
    padding: 0 0 3vw 10vw;
  }
  .format div,
  .teamwork div {
    padding-bottom: 12px;
  }
  .se_videositet {
    font-size: 4vw;
    align-items: center;
  }
  .youtube_video {
    font-size: 1.5vw;
    padding: 1vw 0vw;
  }
  iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
  }
  /********************************************************************************tema05*/
  .presentation_portfolio {
    padding-bottom: 60px;
  }
  .lighthouse_portfolio {
    padding-bottom: 60px;
  }
}
