* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img,
video {
  width: 100%;
  height: auto;
  display: block;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  background-color: #f5f4ef;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
header {
  width: 100%;
  height: auto;
  background-size: cover;
  border-bottom: 2px solid rgb(10, 100, 247);
}
.LOGO {
  width: 12vw;
  align-items: center;
}
.navbar {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-family: GmarketSansMedium;
}
.navbar a {
  color: rgb(10, 100, 247);
  font-size: 3.5vw;
  justify-content: space-between;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  padding: 20px 0 20px 0;
}
.navbar a:hover {
  color: rgb(243, 247, 6);
}

.burger {
  display: block;
  color: rgb(10, 100, 247);
  font-size: 20px;
  padding-left: 20px;
}

.navbar.show {
  display: flex;
  flex-direction: column;
}
.navbar {
  display: none;
}

@font-face {
  font-family: "Jeongnimsaji-R";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/Jeongnimsaji-R.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.container {
  margin: 0 auto;
  width: 100%;
  height: auto;
  position: relative;
}
.guide,
.proces {
  position: absolute;
  font-size: 3vw;
  text-align: left;
  font-family: "Jeongnimsaji-R";
  color: rgb(83, 72, 72);
  line-height: 4vw;
}
.guide {
  transform: translate(19vw, -145vw);
}
.proces {
  transform: translate(71vw, -32vw);
}

.semester {
  position: absolute;
  transform: translate(49vw, -72vw);
  font-size: 4vw;
  text-align: left;
  font-family: "Jeongnimsaji-R";
  color: rgb(83, 72, 72);
}

.explore {
  position: absolute;
  transform: translate(49vw, -61vw);
  font-size: 6vw;
  text-align: left;
  font-weight: bold;
  font-family: "Anton", sans-serif;
}
.explore a {
  color: rgb(175, 20, 20);
}
.explore a:hover {
  color: rgb(13, 37, 142);
}

footer {
  width: 100%;
  height: auto;
  border-top: 2px solid rgb(10, 100, 247);
}
.col_2 {
  display: flex;
  justify-content: space-between;
  padding: 0 30px 0 30px;
}
.logo_2 {
  width: 12vw;
  padding-top: 20px;
}
.mail,
.social_media,
.info {
  color: rgb(10, 100, 247);
  font-size: 2vw;
  font-weight: bold;
  font-family: "GmarketSansMedium";
  padding: 20px 0 20px 0;
}

/********************************************forside*/
.col_3 {
  font-family: "Arapey", serif;
  text-align: center;
}
.overskrift,
.underskrift_1 {
  font-size: 1em;
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: blue;
}
.overskrift::before {
  content: "";
  flex-grow: 1;
  background: blue;
  height: 1px;
  font-size: 0px;
  line-height: 0px;
}
.underskrift_1::after {
  content: "";
  flex-grow: 1;
  background: blue;
  height: 1px;
  font-size: 0px;
  line-height: 0px;
}
.underskrift {
  font-size: 4em;
}
@media screen and (min-width: 700px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px 0 40px;
  }
  .navbar a {
    font-size: 1vw;
  }
  .burger {
    display: none;
  }
  .container {
    margin: 10% auto;
    width: 50%;
    height: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  .LOGO {
    width: 7vw;
    align-items: center;
  }
  .guide,
  .proces {
    position: absolute;
    font-size: 1vw;
    text-align: left;
    font-family: "Jeongnimsaji-R";
    color: rgb(83, 72, 72);
    line-height: 2vw;
  }
  .guide {
    transform: translate(10vw, -71vw);
  }
  .proces {
    transform: translate(39vw, -15vw);
  }
  .semester {
    position: absolute;
    transform: translate(24vw, -36vw);
    font-size: 2vw;
    text-align: left;
    font-family: "Jeongnimsaji-R";
    color: rgb(83, 72, 72);
  }
  .explore {
    position: absolute;
    transform: translate(24vw, -31vw);
    font-size: 3vw;
  }
  .col_2 {
    border-top: 2px solid rgb(10, 100, 247);
    width: 100%;
  }
  .logo_2 {
    width: 7vw;
    padding-top: 20px;
  }
  .mail,
  .social_media,
  .info {
    color: rgb(10, 100, 247);
    font-size: 1vw;
    font-weight: bold;
    font-family: "GmarketSansMedium";
    padding: 20px 0 20px 0;
  }
  footer {
    border-top: 2px;
  }
  /*forside//////////////////////////////////*/
}
