* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img,
video {
  width: 100%;
  height: auto;
  display: block;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  background-color: #f5f4ef;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
header {
  width: 100%;
  height: auto;
  background-size: cover;
  border-bottom: 2px solid rgb(10, 100, 247);
}
.LOGO {
  width: 12vw;
  align-items: center;
}
.navbar {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-family: GmarketSansMedium;
}
.navbar a {
  color: rgb(10, 100, 247);
  font-size: 3.5vw;
  justify-content: space-between;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  padding: 20px 0 20px 0;
}
.navbar a:hover {
  color: rgb(209, 77, 33);
}

.burger {
  display: block;
  color: rgb(10, 100, 247);
  font-size: 20px;
  padding-left: 20px;
}

.navbar.show {
  display: flex;
  flex-direction: column;
}
.navbar {
  display: none;
}

@font-face {
  font-family: "Jeongnimsaji-R";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/Jeongnimsaji-R.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.container {
  margin: 0 auto;
  width: 100%;
  height: auto;
  position: relative;
}
.guide,
.proces {
  position: absolute;
  font-size: 3vw;
  text-align: left;
  font-family: "Jeongnimsaji-R";
  color: rgb(83, 72, 72);
  line-height: 4vw;
}
.guide {
  transform: translate(19vw, -145vw);
}
.proces {
  transform: translate(71vw, -32vw);
}

.semester {
  position: absolute;
  transform: translate(49vw, -72vw);
  font-size: 4vw;
  text-align: left;
  font-family: "Jeongnimsaji-R";
  color: rgb(83, 72, 72);
}

.explore {
  position: absolute;
  transform: translate(49vw, -61vw);
  font-size: 6vw;
  text-align: left;
  font-weight: bold;
  font-family: "Anton", sans-serif;
}
.explore a {
  color: rgb(175, 20, 20);
}
.explore a:hover {
  color: rgb(13, 37, 142);
}

footer {
  width: 100%;
  height: auto;
  border-top: 2px solid rgb(10, 100, 247);
}
.col_2 {
  display: flex;
  justify-content: space-between;
  padding: 0 30px 0 30px;
}
.logo_2 {
  width: 12vw;
  padding-top: 20px;
}
.mail,
.social_media,
.info {
  color: rgb(10, 100, 247);
  font-size: 2vw;
  font-weight: bold;
  font-family: "GmarketSansMedium";
  padding: 20px 0 20px 0;
}

/********************************************index*/
.col_3 {
  text-align: center;
  padding-top: 7vw;
}
.overskrift,
.underskrift_1 {
  font-size: 3vw;
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: #1562e7;
  font-family: "Roboto", sans-serif;
}
.overskrift::before {
  content: ""; /* Indholdet for det pseudo-element (ingen indhold i dette tilfælde) */
  display: inline-block; /* Gør pseudo-elementet til et inline-block element, så du kan justere bredden */
  width: 23vw; /* Juster bredden af linjen efter behov */
  border-bottom: 2px solid #1562e7; /* Stil og farve af linjen */
  margin-right: 10px; /* Juster afstanden mellem linjen og teksten efter behov */
}
.underskrift_1 {
  justify-content: right;
}
.underskrift_1::after {
  content: "";
  display: inline-block;
  width: 23vw;
  height: 1px;
  border-bottom: 2px solid #1562e7;
  margin-left: 10px;
}
.underskrift {
  font-family: "Anton", sans-serif;
  font-weight: bold;
  font-size: 10vw;
  color: #1562e7;
  letter-spacing: 1vw;
}
.underskrift::after {
  content: "FOLIO";
  left: 0;
  white-space: nowrap; /* 줄 바꿈 방지 */
  color: transparent;
  -webkit-text-stroke: 0.2vw #1562e7;
}
.timeline.bar {
  display: flex;
  flex-direction: row;
}
.timeline {
  margin: 10vw 7vw;
  border-top: 2px solid #1562e7;
}
.active {
  padding: 0vw 6.4vw;
  font-size: 4vw;
  line-height: 2;
  color: #1562e7;
}
.active .a {
  padding: 2vw;
}
.active::before {
  content: "";
  display: block;
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 50%;
  background-color: #be1f1f;
  transform: translate(2vw, -1vw);
}
.active::after {
  content: "";
  width: 0;
}
.active:hover {
  color: #be1f1f;
  transform: scale(2);
}

.projekt {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  object-fit: contain;
  width: 100%;
  height: 100%;
  gap: 2vw;
  padding: 0 2vw 0 2vw;
}

.nummer {
  font-size: 14vw;
  color: #be1f1f;
  font-family: "Jeongnimsaji-R";
  padding: 0 0 0 2vw;
}

.tema {
  font-size: 5vw;
  color: rgb(83, 72, 72);
  font-family: "anton";
  letter-spacing: 0.1vw;
  padding: 0 0 1vw 2vw;
  font-weight: bold;
}
.beskrivelse2,
.beskrivelse3,
.beskrivelse4,
.beskrivelse5,
.beskrivelse6 {
  font-size: 4vw;
  font-family: "Arapey", serif;
  padding: 0 0 2vw 2vw;
}
.beskrivelse2,
.beskrivelse3 {
  height: 15vw;
}
.beskrivelse4,
.beskrivelse5 {
  height: 25vw;
}

.tema_pic_2,
.tema_pic_3,
.tema_pic_4,
.tema_pic_5,
.tema_pic_6 {
  padding-bottom: 4vw;
}

.om_mig,
.kontakt_overskrift {
  font-family: "Anton", sans-serif;
  font-size: 14vw;
  color: #1562e7;
  letter-spacing: 1vw;
  padding-left: 2vw;
}
.whoami {
  font-size: 5vw;
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: #1562e7;
  font-family: "Roboto", sans-serif;
  justify-content: right;
}
.whoami::after {
  content: "";
  display: inline-block;
  width: 36vw;
  height: 1px;
  border-bottom: 2px solid #1562e7;
  margin-left: 10px;
}
.about_overskrift {
  padding-bottom: 15vw;
}
.om_mig1 img {
  border-radius: 50%;
  width: 50vw;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}
.om_tekst {
  padding: 8vw;
  font-family: "Arapey", serif;
  line-height: 5vw;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.klik {
  font-weight: bold;
  color: #1562e7;
  cursor: pointer;
}
.klik:hover {
  transform: scale(2);
  color: #be1f1f;
}

.profil {
  display: flex;
  flex-direction: column;
}

.keyword {
  font-family: anton;
  padding-left: 2vw;
  color: rgb(83, 72, 72);
  text-align: center;
  font-size: 4vw;
}

.keywords {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2vw;
  padding: 4vw 20vw 8vw 20vw;
}

.creative,
.learner,
.challenging {
  text-decoration: overline;
  color: #be1f1f;
  font-size: 4vw;
  font-family: "Jeongnimsaji-R";
}
.overline {
  padding-top: 2vw;
}
.underskrift_kontakt {
  font-size: 5vw;
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: #1562e7;
  font-family: "Roboto", sans-serif;
  justify-content: right;
  padding-bottom: 5vw;
}
.underskrift_kontakt::after {
  content: "";
  display: inline-block;
  width: 25vw;
  height: 1px;
  border-bottom: 2px solid #1562e7;
  margin-left: 10px;
}

.kontakt_oplysninger {
  padding-left: 4vw;
}
.contact_me {
  font-size: 6.6vw;
  font-family: "roboto";
  font-weight: bold;
  color: rgb(83, 72, 72);
  text-align: left;
}
.ask {
  font-size: 4vw;
  text-align: left;
  color: rgb(83, 72, 72);
  font-family: "roboto";
  padding-bottom: 8vw;
}
.opkaldt,
.e_mail,
.instagram,
.facebook,
.website {
  font-size: 4vw;
  padding-bottom: 1vw;
  font-family: "roboto";
  color: rgb(83, 72, 72);
}
.col-25,
.col-75,
input[type="submit"] {
  width: 100%;
  margin-top: 0;
}
.form {
  width: 100%;
  padding: 4vw 6vw;
}
.form-felt {
  display: flex;
  flex-direction: column;
  font-family: "roboto";
  font-size: 4vw;
  color: #1562e7;
  padding-bottom: 2vw;
}
#fornavn,
#efternavn,
#email {
  height: 8vw;
  border-style: none;
  font-size: 4vw;
  font-family: "roboto";
}
.styled-textarea {
  width: 100%;
  height: 20vw;
  border-style: none;
  font-size: 4vw;
  font-family: "roboto";
}
.button {
  padding: 1vw;
  border-radius: 1vw;
  color: #e4e9f0;
  font-size: 4vw;
  font-family: "roboto";
  background-color: #1562e7;
  border-style: none;
}
#beskeden {
  display: grid;
  place-items: center;
  padding: 8vw;
  margin: 0 auto;
  font-size: 2vw;
  font-weight: bold;
  font-family: "Anton", sans-serif;
  color: #1562e7;
  text-align: center;
}

.pulse {
  animation-name: pulse_kf;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: both;
  animation-timing-function: linear;
}

@keyframes pulse_kf {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.1;
    color: #be1f1f;
  }
}
@media screen and (min-width: 700px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px 0 40px;
  }
  .navbar a {
    font-size: 1vw;
  }
  .burger {
    display: none;
  }
  .container {
    margin: 10% auto;
    width: 50%;
    height: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  .LOGO {
    width: 7vw;
    align-items: center;
  }
  .guide,
  .proces {
    position: absolute;
    font-size: 1vw;
    text-align: left;
    font-family: "Jeongnimsaji-R";
    color: rgb(83, 72, 72);
    line-height: 2vw;
  }
  .guide {
    transform: translate(10vw, -71vw);
  }
  .proces {
    transform: translate(39vw, -15vw);
  }
  .semester {
    position: absolute;
    transform: translate(24vw, -36vw);
    font-size: 2vw;
    text-align: left;
    font-family: "Jeongnimsaji-R";
    color: rgb(83, 72, 72);
  }
  .explore {
    position: absolute;
    transform: translate(24vw, -31vw);
    font-size: 3vw;
  }
  .col_2 {
    border-top: 2px solid rgb(10, 100, 247);
    width: 100%;
  }
  .logo_2 {
    width: 7vw;
    padding-top: 20px;
  }
  .mail,
  .social_media,
  .info {
    color: rgb(10, 100, 247);
    font-size: 1vw;
    font-weight: bold;
    font-family: "GmarketSansMedium";
    padding: 20px 0 20px 0;
  }
  footer {
    border-top: 2px;
  }
  /*index//////////////////////////////////*/
  .overskrift,
  .underskrift_1 {
    font-size: 1.5vw;
  }
  .overskrift::before {
    width: 31vw;
  }
  .underskrift_1 {
    justify-content: right;
  }
  .underskrift_1::after {
    width: 31vw;
  }
  .underskrift {
    font-size: 7vw;
  }

  .timeline .bar {
    display: flex;
    flex-direction: row;
  }
  .timeline {
    margin: 10vw 8vw 8vw 8vw;
    border-top: 2px solid #1562e7;
  }
  .active {
    padding: 1vw 7.3vw;
    font-size: 2vw;
    line-height: 2;
    color: #1562e7;
  }
  .active .a {
    padding: 2vw;
  }
  .active::before {
    transform: translate(0vw, -1.8vw);
  }
  .active::after {
    content: "";
    width: 0;
  }
  .active:hover {
    color: #be1f1f;
    transform: scale(2);
  }
  .projekt {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    object-fit: contain;
    width: 100%;
    height: 100%;
    gap: 2vw;
    padding: 0 8vw 0 8vw;
  }
  .nummer {
    font-size: 7vw;
  }

  .tema {
    font-size: 2.5vw;
    padding: 0 0 1vw 2vw;
  }
  .beskrivelse2,
  .beskrivelse3,
  .beskrivelse4,
  .beskrivelse5,
  .beskrivelse6 {
    font-size: 2vw;
    font-family: "Arapey", serif;
    padding: 0 0 2vw 2vw;
  }
  .beskrivelse2,
  .beskrivelse3,
  .beskrivelse4 {
    height: 8vw;
  }

  .beskrivelse5,
  .beskrivelse6 {
    height: 13vw;
  }
  .about_overskrift {
    padding-bottom: 5vw;
    padding-top: 5vw;
  }
  .om_mig,
  .kontakt_overskrift {
    font-size: 7vw;
    letter-spacing: 0vw;
    padding-left: 4vw;
  }
  .whoami,
  .underskrift_kontakt {
    font-size: 2vw;
  }
  .whoami::after {
    width: 68vw;
  }
  .underskrift_kontakt::after {
    width: 64vw;
  }
  .profil {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 8vw 0 8vw;
  }
  .om_mig1 {
    grid-column: 2/3;
  }
  .om_mig1 img {
    width: 25vw;
    height: auto;
  }
  .om_tekst {
    grid-column: 3/5;
    line-height: 1.5;
    padding: 8vw 3vw;
    font-size: 2vw;
  }
  .keyword {
    padding-top: 4vw;
  }
  .keywords {
    display: flex;
    flex-direction: row;
    padding: 1vw 8vw 4vw 8vw;
  }
  .keywords img {
    border-bottom: 2px solid #be1f1f;
    padding-bottom: 2vw;
  }
  .creative,
  .learner,
  .challenging {
    text-decoration: none;
    color: #be1f1f;
    font-size: 2vw;
    font-family: "Jeongnimsaji-R";
  }
  .kontakt {
    padding-top: 7vw;
  }
  .kontakt_col3 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
  }
  .kontakt_oplysninger {
    padding-left: 8vw;
  }
  .contact_me {
    font-size: 4vw;
    font-family: "roboto";
    font-weight: bold;
    color: rgb(83, 72, 72);
  }
  .ask {
    font-size: 2vw;
    padding-bottom: 5vw;
    color: rgb(83, 72, 72);
    font-family: "roboto";
  }
  .opkaldt,
  .e_mail,
  .instagram,
  .facebook,
  .website {
    font-size: 2vw;
    padding-bottom: 1vw;
    font-family: "roboto";
    color: rgb(83, 72, 72);
  }
  .form {
    width: 100%;
    padding: 0 6vw 6vw 6vw;
  }

  .form-felt {
    display: flex;
    flex-direction: column;
    font-family: "roboto";
    font-size: 2vw;
    color: #1562e7;
    padding-bottom: 2vw;
  }
  #fornavn,
  #efternavn,
  #email {
    height: 3vw;
    border-style: none;
    font-size: 2vw;
  }
  .styled-textarea {
    width: 100%;
    height: 15vw;
    border-style: none;
    font-size: 2vw;
  }
  .button {
    padding: 1vw;
    border-radius: 1vw;
    color: #e4e9f0;
    font-size: 2vw;
    font-family: "roboto";
    background-color: #1562e7;
    border-style: none;
  }
}
